{{ if .IsPage }}
<aside class="secondary">
{{ else }}
<aside>
{{ end }}
    <h4>Bio</h4>
    <p>
        An aspiring <strong>writer</strong>, <strong>programmer</strong> 
        and <strong>musician</strong> based in the Netherlands.
    </p>
    <h4>Navigation</h4>
    <ul class="secondary">
        <li>
            <a href="/writing/essays">Essays</a> / 
            <a class="secondary" href="/writing">Writing</a>
        </li>
        <li>
            <a href="/writing/notes">Notes</a> / 
            <a class="secondary" href="/writing">Writing</a>
        </li>
        <li>
            <a href="/computing/programs">Programs</a> / 
            <a class="secondary" href="/computing">Computing</a>
        </li>
        <li>
            <a href="/computing/websites">Websites</a> / 
            <a class="secondary" href="/computing">Computing</a>
        </li>
        <li>
            <a href="/music/songs">Songs</a> / 
            <a class="secondary" href="/music">Music</a>
        </li>
        <li>
            <a href="/music/demos">Demos</a> / 
            <a class="secondary" href="/music">Music</a>
        </li>
        <li>
            <a href="/about/now">Now</a> / 
            <a class="secondary" href="/about">About</a>
        </li>
        <li>
            <a href="/about/uses">Uses</a> / 
            <a class="secondary" href="/about">About</a>
        </li>
        <li>
            <a href="/about/resume">Resume</a> / 
            <a class="secondary" href="/about">About</a>
        </li>
    </ul>
    <h4>Best works</h4>
    <ul class="secondary">
        <li>
            <a href="/computing/websites/hoenson">hoenson.xyz</a>
            / <a class="secondary" href="/computing/websites">Websites</a>
        </li>
        <li>
            <a href="/music/demos/color-glitch-complete.md">Color Glitch Complete (Showcase)</a>
            / <a class="secondary" href="/music/demos">Demos</a>
        </li>
        <li>
            <a href="/music/songs/ozone-drive.md">Ozone Drive</a>
            / <a class="secondary" href="/music/songs">Songs</a>
        </li>
        <li>
            <a href="/music/songs/underwater-disco">Underwater Disco</a>
            / <a class="secondary" href="/music/songs">Songs</a>
        </li>
    </ul>
</aside>
