<aside>
    <h4>Bio</h4>
    <p>
        An aspiring <strong>writer</strong>, <strong>programmer</strong> 
        and <strong>musician</strong> based in the Netherlands.
    </p>
    <h4>Navigation</h4>
    <ul>
        <li>
            <a href="/writing/essays">Essays</a> / 
            <a class="secondary" href="/writing">Writing</a>
        </li>
        <li>
            <a href="/writing/notes">Notes</a> / 
            <a class="secondary" href="/writing">Writing</a>
        </li>
        <li>
            <a href="/computing/programs">Programs</a> / 
            <a class="secondary" href="/computing">Computing</a>
        </li>
        <li>
            <a href="/computing/websites">Websites</a> / 
            <a class="secondary" href="/computing">Computing</a>
        </li>
        <li>
            <a href="/music/songs">Songs</a> / 
            <a class="secondary" href="/music">Music</a>
        </li>
        <li>
            <a href="/music/demos">Demos</a> / 
            <a class="secondary" href="/music">Music</a>
        </li>
        <li>
            <a href="/about/now">Now</a> / 
            <a class="secondary" href="/about">About</a>
        </li>
        <li>
            <a href="/about/uses">Uses</a> / 
            <a class="secondary" href="/about">About</a>
        </li>
        <li>
            <a href="/about/resume">Resume</a> / 
            <a class="secondary" href="/about">About</a>
        </li>
    </ul>
    <h4>Best works</h4>
    <ul>
        <li>
            <a href="">The Tap Water is Full of Demonic Particles</a>
            / <a class="secondary" href="">Essays</a>
        </li>
        <li>
            <a href="">DicePass</a>
            / <a class="secondary" href="">Programs</a>
        </li>
        <li>
            <a href="">Ozone Drive</a>
            / <a class="secondary" href="">Songs</a>
        </li>
        <li>
            <a href="">Internet Manifesto</a>
            / <a class="secondary" href="">Essays</a>
        </li>
        <li>
            <a href="">On Reading</a>
            / <a class="secondary" href="">Essays</a>
        </li>
    </ul>
</aside>
