{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <h2>Recent works</h2>
    <ul>
        <li>
            <a href="">The Disclaimer Article</a>
            / <a class="secondary" href="">Essays</a>
        </li>
        <li>
            <a href="">A Regular Tree</a>
            / <a class="secondary" href="">Poems</a>
        </li>
        <li>
            <a href="">Internet Manifesto</a>
            / <a class="secondary" href="">Essays</a>
        </li>
        <li>
            <a href="">Reconsider Dubstep</a>
            / <a class="secondary" href="">Essays</a>
        </li>
        <li>
            <a href="">hoenson.xyz</a>
            / <a class="secondary" href="">Websites</a>
        </li>
    </ul>
{{ end }}
