{{ define "main" }}
    {{ .Content }}
    <div class="title">
        <h2>Best posts</h2>
        <h5 class="secondary">The work I'm most proud of</h5>
    </div>
    <div class="posts card" id="best">
        {{ range where .Site.RegularPages "Params.weight" "!=" nil }}
            <div class="post">
                <p>
                    {{ $category := .Params.categories }}
                    {{ $url := printf "/categories/%s" $category | lower }}
                    <a class="uppercase" href="{{ $url }}">
                        {{ strings.TrimSuffix "s" $category }}
                    </a>
                    | 
                    <time>{{ .Date.Format "January 2, 2006" }}</time>
                </p>
                <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
            </div>
        {{ end }}
    </div>
    <div class="title">
        <h2>All posts</h2>
        <h5 class="secondary">Everything from new to old</h5>
    </div>
    <div class="posts card">
        {{ range .Site.RegularPages }}
            <div class="post">
                <p>
                    {{ $category := .Params.categories }}
                    {{ $url := printf "/categories/%s" $category | lower }}
                    <a class="uppercase" href="{{ $url }}">
                        {{ strings.TrimSuffix "s" $category }}
                    </a>
                    | 
                    <time>{{ .Date.Format "January 2, 2006" }}</time>
                </p>
                <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
            </div>
        {{ end }}
    </div>
{{ end }}
