{{ define "main" }}
    {{ .Content }}
    <div class="posts">
        {{ range .Site.RegularPages }}
            <div class="post">
                <p>
                    <span class="uppercase">
                        {{ strings.TrimSuffix "s" .Params.categories }}
                    </span>
                    | 
                    <time>{{ .Date.Format "January 2, 2006" }}</time>
                </p>
                <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
            </div>
        {{ end }}
    </div>
{{ end }}
