:root {
    --background: hsl(30, 75%, 95%);
    --foreground: hsl(0, 100%, 15%);
    --accent: hsl(0, 90%, 35%);
    --border: 1px solid hsl(30, 60%, 90%);
    --test: hsl(30, 60%, 90%);
    --cite: hsl(0, 50%, 40%);
}

/* <-- --> */

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
}

h2 + h3 {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
img {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
cite {
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
}

p,
ul,
ol,
a {
    font-family: georgia, serif;
    font-size: 1.1rem;
}

ul,
ol {
    list-style-position: inside;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul > ul,
ol > ol {
    margin: 0 0 0 30px;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover,
.active {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote,
.modified {
    background-color: var(--test);
    padding: 14px 20px;
    border-left: 4px solid var(--accent);
    border-radius: 0 8px 8px 0;
}

.modified {
    margin-top: -20px;
    margin-bottom: 40px;
}

main > *:last-child,
section > *:last-child,
footer > *:last-child {
    margin-bottom: 0;
}

/* <-- --> */

html {
    color: var(--foreground);
    background-color: var(--background);
}

body {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    line-height: 1.8rem;
}

header {
    padding: 50px 0;
    border-bottom: var(--border);
}

header h1 {
    margin-bottom: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -20px;
}

nav a {
    padding: 20px;
}

main {
    padding: 50px 0;
    border-bottom: var(--border);
}

section {
    margin-bottom: 50px;
}

section img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

blockquote p {
    font-style: italic;
}

blockquote cite {
    display: block;
    color: var(--cite);
    font-weight: bold;
    text-align: center;
}

footer {
    padding: 100px 0;
}

footer p {
    text-align: center;
}
