@font-face {
    font-family: "Quincy";
    src: url("typefaces/quincy-webfont/QuincyCF-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Quincy";
    src: url("typefaces/quincy-webfont/QuincyCF-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Greycliff";
    src: url("typefaces/greycliff-webfont/GreycliffCF-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Greycliff";
    src: url("typefaces/greycliff-webfont/GreycliffCF-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Greycliff";
    src: url("typefaces/greycliff-webfont/GreycliffCF-RegularOblique.woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cartograph";
    src: url("typefaces/cartograph-webfont/CartographCF-Light.woff2");
    font-weight: normal;
    font-style: normal;
}

:root {
    --serif: "Quincy", georgia, serif;
    --sans-serif: "Greycliff", arial, sans-serif;
    --monospace: "Cartograph", menlo, monospace;
    --primary: hsl(0, 0%, 25%);
    --primary-light: hsl(0, 0%, 50%);
    --primary-lighter: hsl(0, 0%, 70%);
    --primary-dark: hsl(0, 0%, 15%);
    --mustard: hsl(50, 55%, 40%);
    --mustard-light: hsl(50, 75%, 75%);
    --grey: hsl(0, 0%, 55%);
    --grey-light: hsl(0, 0%, 85%);
    --grey-lighter: hsl(0, 0%, 91%);
    --pink: hsl(340, 100%, 50%);
}

/* <-- --> */

* {
    transition: all 140ms;
}

html {
    font-family: var(--sans-serif);
    color: var(--primary-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--serif);
    font-weight: bold;
    line-height: 1.2em;
    margin-top: 2.5em;
    margin-bottom: 0.5em; 
}

h1 {
    font-size: 3.8rem;
    padding: 0.5rem 1rem;
    background-color: var(--grey-lighter);
    margin-top: 0;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.4rem;
}

h4 {
    font-size: 1.9rem;
    border-bottom: 1px solid var(--grey-lighter);
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.2rem;
}

p,
blockquote,
a,
code,
code.block,
ol,
ul,
figure {
    color: var(--primary);
    line-height: 1.6em;
    margin-bottom: 2rem;
}

p.secondary {
    color: var(--primary-light);
    margin-bottom: 1rem;
}

blockquote {
    font-style: italic;
    padding: 0.5rem 1rem;
    border-left: 2px solid var(--grey-light);
}

a,
.active {
    color: var(--mustard);
    font-weight: bold;
    text-decoration: underline var(--mustard-light) 2px;
}

a:hover {
    text-decoration: underline 2px;
}

a.secondary {
    color: var(--grey);
    text-decoration: underline var(--grey-light) 2px;
}

a.secondary:hover {
    color: var(--mustard);
    font-weight: bold;
    text-decoration: underline 2px;
}

cite,
strong {
    color: var(--primary-dark);
    font-weight: bold;
}

cite {
    display: block;
    font-style: normal;
    margin-top: 1rem;
}

code {
    font-family: var(--monospace);
    color: var(--pink);
    padding: 0 0.4rem;
    background-color: var(--grey-lighter);
    margin: 0;
}

code.block {
    display: block;
    color: hsl(0, 0%, 95%);
    padding: 1rem;
    background-color: hsl(0, 0%, 5%);
    border-radius: 0.5rem;
}

em {
    font-style: italic;
    text-decoration: underline var(--grey-light);
}

img {
    width: 100%;
    margin-bottom: 2rem; 
}

ol,
ul {
    list-style: inside;
    line-height: 2em;
}

ol {
    list-style: inside decimal;
}

li {
    color: var(--primary-lighter);
}

li a.secondary {
    font-weight: normal;
    text-decoration: underline var(--grey-light) 1px;
    margin: 0;
}

li a.secondary:hover {
    font-weight: normal;
    text-decoration: underline 1px;
}

li span {
    color: var(--primary);
}

figure > img {
    margin-bottom: 0;
}

figcaption {
    color: var(--primary-light);
    font-size: 0.8rem;
    font-style: italic;
    line-height: 1.3rem;
    text-align: center;
    margin-top: 0.4em;
}

/* <-- --> */

header {
    padding: 5rem 0;
    border-bottom: 1px solid var(--grey-lighter);
}

header h1,
aside h1 {
    padding: 0;
    background-color: hsl(0, 0%, 100%);
}

header h1 {
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
}

nav a {
    padding: 1.5rem 2rem;
    margin: 0;
    margin-bottom: -1.5rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 10rem 0;
}

aside {
    width: 18rem;
    padding: 0 1rem;
}

aside h1 {
    font-size: 2.4rem;
    text-align: left;
    border-bottom: 1px solid var(--grey-lighter);
}

main {
    max-width: 38rem;
    padding: 0 1rem;
}

main > *:last-child {
    margin: 0;
}

footer {
    text-align: center;
    padding: 8rem 1rem;
    background-color: hsl(0, 0%, 96%);
    border-top: 1px solid var(--grey-lighter);
}

footer p span {
    font-size: 1.3rem;
    color: var(--primary-lighter);
}

footer p:last-of-type {
    display: inline-block;
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid var(--grey-lighter);
    margin: 0 auto;
}

/* <-- --> */

@media (max-width: 68rem) {
    .container {
        display: block;
        margin: 5rem 0;
    }

    header {
        padding: 2.5rem 1rem;
    }

    nav a {
        flex: 1;
        text-align: center;
    }

    aside {
        display: none;
    }

    main {
        margin: 0 auto;
    }

    footer {
        padding: 4rem 1rem;
    }
}
