@font-face {
    font-family: "Greycliff";
    src: url("typefaces/greycliff-webfont/GreycliffCF-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Greycliff";
    src: url("typefaces/greycliff-webfont/GreycliffCF-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Novaletra Serif";
    src: url("typefaces/novaletra-serif-webfont/NovaletraSerifCF-Light.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Novaletra Serif";
    src: url("typefaces/novaletra-serif-webfont/NovaletraSerifCF-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cartograph";
    src: url("typefaces/cartograph-webfont/CartographCF-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

:root {
    --sans-serif: "Greycliff", helvetica, arial, sans-serif;
    --serif: "Novaletra Serif", georgia, serif;
    --monospace: "Cartograph", menlo, monospace;
    --background: hsl(30, 75%, 95%);
    --foreground: hsl(0, 100%, 15%);
    --accent: hsl(0, 90%, 35%);
    --border: 1px solid hsl(30, 60%, 90%);
    --card: hsl(30, 60%, 90%);
    --soft: hsl(0, 50%, 35%);
    --code: hsl(0, 50%, 10%);
}

/* <-- --> */

h1 {
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 10px;
}

main h1 {
    line-height: 2.5rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
    margin-top: 40px;
}

h2 + h3 {
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
img {
    margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
cite {
    font-family: var(--sans-serif);
    font-weight: bold;
}

p,
ul,
ol,
a {
    font-family: var(--serif);
    font-size: 1.1rem;
}

ul,
ol {
    list-style-position: inside;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ul > ul,
ol > ol {
    margin: 0 0 0 30px;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover,
.active {
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

blockquote,
.modified,
.discuss {
    background-color: var(--card);
    padding: 14px 20px;
    border-left: 4px solid var(--accent);
    border-radius: 0 8px 8px 0;
}

.modified,
.published {
    color: var(--soft);
    margin-bottom: 50px;
}

.modified {
    margin-top: -20px;
}

.published {
    margin-top: -10px;
    text-align: center;
}

.code {
    background-color: var(--code);
    padding: 14px 20px;
    border-radius: 8px;
    color: var(--background);
    font-family: var(--monospace);
    font-size: 0.9rem;
}

main > *:last-child,
section > *:last-child,
footer > *:last-child {
    margin-bottom: 0;
}

/* <-- --> */

html {
    color: var(--foreground);
    background-color: var(--background);
}

body {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    line-height: 1.8rem;
}

header {
    padding: 50px 0;
    border-bottom: var(--border);
}

header h1 {
    margin-bottom: 10px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: -20px;
}

nav a {
    padding: 20px;
}

main {
    padding: 50px 0;
    border-bottom: var(--border);
}

section {
    margin-bottom: 50px;
}

section img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

blockquote p {
    font-style: italic;
}

blockquote cite {
    display: block;
    color: var(--soft);
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
}

footer {
    padding: 100px 0;
}

footer p {
    text-align: center;
}
