{{ define "main" }}
    <header>
        <h1>Stan Hoenson</h1>
        <nav>
            {{ range .Site.Menus.header }}
            <h5>
                {{ if eq .Name "Categories" }}
                    <a class="active" href="{{ .URL }}">{{ .Name }}</a>
                {{ else }}
                    <a class="secondary" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            {{ end }}
            </h5>
        </nav>
    </header>
    <div class="term">
        <h2>{{ .Title }}</h2>
        <h6 class="secondary">{{ .Params.description }}</h6>
    </div>
    <div class="posts">
        {{ range .Pages }}
            <div class="post">
                <p>
                    <span class="uppercase">
                        {{ strings.TrimSuffix "s" .Params.categories }}
                    </span>
                    | <time>{{ .Date.Format "January 2, 2006" }}</time>
                </p>
                <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
            </div>
        {{ end }}
    </div>
{{ end }}
