{{ define "main" }}
    <header>
        <h1>Stan Hoenson</h1>
        <nav>
            {{ range .Site.Menus.header }}
            <h6>
                {{ if eq .Name "Categories" }}
                    <a class="active" href="{{ .URL }}">{{ .Name }}</a>
                {{ else }}
                    <a class="secondary" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            {{ end }}
        </nav>
    </header>
    {{ .Content }}
    <div class="term">
        <h3>{{ .Title }}</h3>
        <h6 class="secondary">{{ .Params.description }}</h6>
    </div>
    <div class="items">
        {{ range .Pages }}
            <div class="item">
                <p>
                    <span>
                        {{ strings.TrimSuffix "s" .Params.categories }}
                    </span>
                    | {{ .Date.Format "January 2, 2006" }}
                </p>
                <h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
            </div>
        {{ end }}
    </div>
{{ end }}
