{{ define "main" }}
    <header>
        <h1>{{ .Title }}</h1>
        <h6 class="secondary">{{ .Params.description }}</h6>
    </header>
    {{ .Content }}
    <div class="posts">
        {{ range .Pages }}
            <div class="post">
                <p>
                    <span>
                        {{ strings.TrimSuffix "s" .Params.categories }}
                    </span>
                    | {{ .Date.Format "January 2, 2006" }}
                </p>
                <h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
            </div>
        {{ end }}
    </div>
{{ end }}
