{{ define "main" }}
    <header>
        <h1>{{ .Title }}</h1>
        <h5>{{ .Date.Format "January 2, 2006" }}</h5>
    </header>
    <article>
        {{ .Content }}
    </article>
    <div class="end">
        {{ $tags := .Params.tags }}
        {{ if isset .Params "tags" }}
            <h4>Tags</h4>
            <div class="tags">
                {{ range .Params.tags }}
                    <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </div>
        {{ end }}
        <h4>Discuss</h4>
        <p>
            Have any thoughts, comments or recommendations? 
            Please share them with me by mailing me at
            <a href="mailto:stan@hoenson.xyz">stan@hoenson.xyz</a>.
        </p>
    </div>
    <div class="pagination">
        {{ with .Prev }}
            <div class="previous">
                <a class="uppercase" href="{{ .RelPermalink }}">Previous</a><br>
                <a class="secondary" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
        {{ end }}
        {{ with .Next }}
            <div class="next">
                <a class="uppercase" href="{{ .RelPermalink }}">Next</a><br>
                <a class="secondary" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
        {{ end }}
    </div>
{{ end }}
