{{ define "main" }}
    <header>
        <h1>{{ .Title }}</h1>
        <h5>{{ .Date.Format "January 2, 2006" }}</h5>
    </header>
    {{ .Content }}
    <div class="pagination">
        {{ with .Prev }}
            <div class="previous">
                <span class="uppercase">Previous</span><br>
                <a class="secondary" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
        {{ end }}
        {{ with .Next }}
            <div class="next">
                <span class="uppercase">Next</span><br>
                <a class="secondary" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
        {{ end }}
    </div>
{{ end }}
