{{ define "main" }}
    <header>
        <h2>Stan Hoenson</h2>
        <nav>
            {{ range .Site.Menus.header }}
                <h5>
                    <a class="secondary" href="{{ .URL }}">{{ .Name }}</a>
                </h5>
            {{ end }}
        </nav>
    </header>
    <div class="posts">
        <div class="title">
            <a class="tag" href="">{{ .Name }}</a>
        </div>
        {{ range .Pages }}
            <div class="post">
                <p>
                    {{ $category := .Params.categories }}
                    <a class="uppercase" href="/categories/{{ $category | urlize }}">
                        {{ strings.TrimSuffix "s" $category }}
                    </a>
                    | <time>{{ .Date.Format "January 2, 2006" }}</time>
                </p>
                <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
            </div>
        {{ end }}
    </div>
{{ end }}
