{{ define "main" }}
    <header>
        <h1>Stan Hoenson</h1>
        <nav>
            {{ range .Site.Menus.header }}
            <h5>
                {{ if eq .Name "Tags" }}
                    <a class="active" href="{{ .URL }}">{{ .Name }}</a>
                {{ else }}
                    <a class="secondary" href="{{ .URL }}">{{ .Name }}</a>
                {{ end }}
            {{ end }}
            </h5>
        </nav>
    </header>
    <div class="title">
        <h2>{{ .Title }}</h2>
        <h5 class="secondary">{{ .Params.description }}</h5>
    </div>
    <div class="posts card">
        {{ range .Pages }}
            <div class="post">
                <p>
                    {{ $category := .Params.categories }}
                    {{ $url := printf "/categories/%s" $category | lower }}
                    <a class="uppercase" href="{{ $url }}">
                        {{ strings.TrimSuffix "s" $category }}
                    </a>
                    | <time>{{ .Date.Format "January 2, 2006" }}</time>
                </p>
                <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
            </div>
        {{ end }}
    </div>
{{ end }}
