{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{- if eq .Params.custom true }}
    <h2>Recent essays</h2>
    <ul class="secondary">
        {{ $count := 0 }}
        {{ range (where .Site.RegularPages "Section" "writing") }}
        {{ if ne $count 5 }}
        {{ if eq .CurrentSection.Title "Essays" }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            &mdash; <time>{{ .Date.Format "January 02" }}</time>
        </li>
        {{ $count = add $count 1 }}
        {{ end }}
        {{ end }}
        {{ end }}
    </ul>
    <p>Or check out <a href="/writing/essays">all essays</a>.</p>
    <h2>Recent notes</h2>
    <ul class="secondary">
        {{ $count := 0 }}
        {{ range (where .Site.RegularPages "Section" "writing") }}
        {{ if ne $count 5 }}
        {{ if eq .CurrentSection.Title "Notes" }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            &mdash; <time>{{ .Date.Format "January 02" }}</time>
        </li>
        {{ $count = add $count 1 }}
        {{ end }}
        {{ end }}
        {{ end }}
    </ul>
    <p>Or check out <a href="/writing/notes">all notes</a>.</p>
    {{- else }}
    <h2 class="no-margin">2022</h2>
    <ul class="secondary">
        {{ range where .Pages "Date.Year" 2022 }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            &mdash; <time>{{ .Date.Format "January 02" }}</time>
        </li>
        {{ end }}
    </ul>
    {{ end }}
{{ end }}
