@font-face {
    font-family: "Greycliff";
    src: url("../typefaces/greycliff/GreycliffCF-Regular.woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Greycliff";
    src: url("../typefaces/greycliff/GreycliffCF-Medium.woff");
    font-weight: 500 600;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Greycliff";
    src: url("../typefaces/greycliff/GreycliffCF-Bold.woff");
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Greycliff";
    src: url("../typefaces/greycliff/GreycliffCF-RegularOblique.woff");
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Cartograph";
    src: url("../typefaces/cartograph/CartographCF-Light.woff");
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
