@font-face {
    font-family: "Greycliff";
    src: url("../typefaces/greycliff/GreycliffCF-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Greycliff";
    src: url("../typefaces/greycliff/GreycliffCF-Medium.woff2");
    font-weight: 500 600;
    font-style: normal;
}

@font-face {
    font-family: "Greycliff";
    src: url("../typefaces/greycliff/GreycliffCF-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Greycliff";
    src: url("../typefaces/greycliff/GreycliffCF-RegularOblique.woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cartograph";
    src: url("../typefaces/cartograph/CartographCF-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cartograph";
    src: url("../typefaces/cartograph/CartographCF-Bold.woff2");
    font-weight: bold;
    font-style: normal;
}

:root {
    --sans-serif: "Greycliff", arial, sans-serif;
    --monospace: "Cartograph", menlo, monospace;

    --base1: hsl(0, 0%, 10%);
    --base2: hsl(0, 0%, 20%);
    --base3: hsl(0, 0%, 30%);
    --base4: hsl(0, 0%, 40%);
    --base5: hsl(0, 0%, 50%);
    --base6: hsl(0, 0%, 60%);
    --base7: hsl(0, 0%, 70%);
    --base8: hsl(0, 0%, 80%);
    --base9: hsl(0, 0%, 90%);

    --mustard1: hsl(50, 55%, 35%);
    --mustard2: hsl(50, 75%, 75%);
    --neon-pink: hsl(350, 100%, 45%);
    --warm-white: hsl(10, 50%, 98%);
}

.base1 {
    color: var(--base1);
}

h1,
h2,
strong {
    color: var(--base1);
    font-weight: bold;
}

.base2 {
    color: var(--base2);
}

html {
    font-family: var(--sans-serif);
    color: var(--base2);
    background-color: var(--warm-white);
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h6 a {
    font-weight: 500;
}

p,
div {
    line-height: 1.6em;
}

ol,
ul {
    line-height: 2em;
}

em {
    font-style: italic;
}

.base3 {
    color: var(--base3);
}

.uppercase {
    color: var(--base3);
    text-transform: uppercase;
}

footer p {
    color: var(--base3);
}

.base4 {
    color: var(--base4);
}

.base5 {
    color: var(--base5);
}

a.secondary {
    transition: color 150ms;
    color: var(--base5);
    text-decoration: none;
}

a.active {
    text-decoration: none;
}

.base6 {
    color: var(--base6);
}

.base7 {
    color: var(--base7);
}

footer p span {
    color: var(--base7);
}

footer p time {
    color: var(--base7);
}

.base8 {
    color: var(--base8);
}

li::marker {
    color: var(--base8);
}

.base9 {
    color: var(--base9);
}

.mustard1 {
    color: var(--mustard1);
}

.mustard2 {
    color: var(--mustard2);
}

a {
    transition: text-decoration 150ms;
    color: var(--mustard1);
    font-weight: bold;
    text-decoration: 2px underline var(--mustard2);
    text-underline-offset: 0.1em;
}

a:hover {
    text-decoration: 2px underline;
}

.neon-pink {
    color: var(--neon-pink);
}

a.secondary:hover,
a.active {
    color: var(--neon-pink);
    text-decoration: none;
}

/* --- */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3.8rem;
    line-height: 1.1em;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.9rem;
}

h4 {
    font-size: 1.9rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.2rem;
}

body {
    max-width: 40rem;
    padding: 6rem 1rem;
    margin: 0 auto;
}

header {
    margin-bottom: 4rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding-top: 3rem;
    border-top: 1px solid hsl(0, 0%, 92%);
    margin-top: 6rem;
}

p,
ol,
ul,
figure {
    margin-bottom: 1rem;
}

h6.secondary {
    margin-top: 0;
    margin-bottom: 4rem;
}

header h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.posts > *:last-child {
    margin-bottom: 0;
}

.post {
    margin-bottom: 2rem;
}

.post p {
    color: var(--base5);
    margin-bottom: 0;
}

.post p span {
    color: var(--base3);
    font-weight: bold;
    text-transform: uppercase;
}

.post h5 {
    margin-top: 0;
}

.term h5 .term {
    color: hsl(200, 55%, 35%);
    text-decoration: 2px underline hsl(200, 75%, 75%);
}

.term h5 .term:hover {
    text-decoration: 2px underline hsl(200, 55%, 35%);
}

.term h2 {
    margin-bottom: 0;
}

.term h6.secondary {
    font-weight: 500;
    margin-bottom: 2rem;
}

.terms {
    display: flex;
    flex-wrap: wrap;
}

.terms .term {
    flex-basis: 50%;
}

.terms h5 {
    margin-bottom: 0;
}

.terms p {
    color: var(--base5);
}

ol,
ul {
    list-style: disc;
    line-height: 2em;
    margin-left: 1rem;
}

ol {
    list-style: decimal;
}

main > *:last-child {
    margin-bottom: 0;
}

img,
audio {
    width: 100%;
    margin-bottom: 2rem;
}

audio {
    margin-top: 1rem;
}

figure {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}

figure > img {
    margin-bottom: 0;
}

figcaption {
    color: var(--base5);
    font-size: 0.8rem;
    line-height: 1.3rem;
    text-align: center;
    margin-top: 0.25rem;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}

.pagination a.secondary {
    text-decoration: none;
}

.previous,
.next {
    flex-basis: 100%;
    color: var(--base5);
    font-weight: normal;
}

.previous a.secondary,
.next a.secondary {
    font-weight: normal;
}

.next {
    text-align: right;
}

.previous span,
.next span {
    color: var(--base3);
    font-weight: bold;
}

footer p {
    text-align: right;
    margin-bottom: 0;
}

footer nav a.secondary {
    color: var(--base7);
    font-weight: normal;
    text-decoration: none;
}

footer nav a.secondary:hover {
    text-decoration: none;
}

@media (max-width: 42rem) {
    * {
        font-size: 1rem;
    }

    a {
        display: inline-block;
        padding: 0.5rem;
        margin: -0.5rem;
    }

    body {
        padding: 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.9rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1.2rem;
    }

    h6 {
        font-size: 1.1rem;
    }

    footer {
        padding-bottom: 3rem;
    }
}
