* {
  /* background-color: hsl(0, 0%, 10%); */
  /* color: hsl(0, 0%, 95%); */
}

body {
  max-width: 38em;
  margin: 0 auto;
  padding: 2em 1em;
  font-family: arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: hsl(240, 90%, 50%);
  /* color: hsl(200, 100%, 65%); */
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  padding-top: 1px;
  background-color: hsl(0, 0%, 80%);
  /* background-color: hsl(0, 0%, 40%); */
}
