{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{- if eq .Params.custom true }}
    <h2>Recent programs</h2>
    <ul>
        {{ $count := 0 }}
        {{ range (where .Site.RegularPages "Section" "computing") }}
        {{ if ne $count 5 }}
        {{ if eq .CurrentSection.Title "Programs" }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ $count = add $count 1 }}
        {{ end }}
        {{ end }}
        {{ end }}
    </ul>
    <p>Or check out <a href="/computing/programs">all programs</a>.</p>
    <h2>Recent websites</h2>
    <ul>
        {{ $count := 0 }}
        {{ range (where .Site.RegularPages "Section" "computing") }}
        {{ if ne $count 5 }}
        {{ if eq .CurrentSection.Title "Websites" }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ $count = add $count 1 }}
        {{ end }}
        {{ end }}
        {{ end }}
    </ul>
    <p>Or check out <a href="/computing/websites">all websites</a>.</p>
    {{- else }}
    <ul>
        {{ range .Pages }}
        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
{{ end }}
