{{ define "main" }}
<h2>{{ .Title }}</h2>
<p>Published on {{ .Date.Format "January 2, 2006" }}
<p>Categorized under:</p>
<ul>
    {{ range .GetTerms "categories" }}
        {{ $count := .Pages | len }}
        <li>
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            ({{ $count }})
        </li>
    {{ end }}
</ul>
{{ .Content }}
<h2>Discuss</h2>
<p>Have any thoughts or comments to share? Email me: <strong>contact@stanhoenson.xyz</strong>.</p>
<p>Also, this article is tagged with:</p>
<ul>
    {{ range .GetTerms "tags" }}
        {{ $count := .Pages | len }}
        <li>
            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            ({{ $count }})
        </li>
    {{ end }}
</ul>
<p><a href="/articles">Back to all articles</a>.</p>
{{ end }}
