{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    {{- if eq .Params.custom true }}
    <h2>Recent songs</h2>
    <ul class="secondary">
        {{ $count := 0 }}
        {{ range (where .Site.RegularPages "Section" "music") }}
        {{ if ne $count 5 }}
        {{ if eq .CurrentSection.Title "Songs" }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            &mdash; <time>{{ .Date.Format "January 02, 2006" }}</time>
        </li>
        {{ $count = add $count 1 }}
        {{ end }}
        {{ end }}
        {{ end }}
    </ul>
    <p>Or check out <a href="/music/songs">all songs</a>.</p>
    <h2>Recent demos</h2>
    <ul>
        {{ $count := 0 }}
        {{ range (where .Site.RegularPages "Section" "music") }}
        {{ if ne $count 5 }}
        {{ if eq .CurrentSection.Title "Demos" }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            &mdash; <time>{{ .Date.Format "January 02" }}</time>
        </li>
        {{ $count = add $count 1 }}
        {{ end }}
        {{ end }}
        {{ end }}
    </ul>
    <p>Or check out <a href="/music/demos">all demos</a>.</p>
    {{- else }}
    <h2 class="no-margin">2022</h2>
    <ul class="secondary">
        {{ range where .Pages "Date.Year" 2022 }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            &mdash; <time>{{ .Date.Format "January 02" }}</time>
        </li>
        {{ end }}
    </ul>
    <h2>2018</h2>
    <ul class="secondary">
        {{ range where .Pages "Date.Year" 2018 }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            &mdash; <time>{{ .Date.Format "January 02" }}</time>
        </li>
        {{ end }}
    </ul>
    <h2>2016</h2>
    <ul class="secondary">
        {{ range where .Pages "Date.Year" 2016 }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            &mdash; <time>{{ .Date.Format "January 02" }}</time>
        </li>
        {{ end }}
    </ul>
    <h2>2015</h2>
    <ul class="secondary">
        {{ range where .Pages "Date.Year" 2015 }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            &mdash; <time>{{ .Date.Format "January 02" }}</time>
        </li>
        {{ end }}
    </ul>
    {{ end }}
{{ end }}
