{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}

    {{- if eq .Params.custom true }}
    <h2>Latest songs</h2>
    <ul class="secondary">
        {{ $count := 0 }}
        {{ range (where .Site.RegularPages "Section" "music") }}
        {{ if ne $count 5 }}
        {{ if eq .CurrentSection.Title "Songs" }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            &mdash; <time>{{ .Date.Format "January 02, 2006" }}</time>
        </li>
        {{ $count = add $count 1 }}
        {{ end }}
        {{ end }}
        {{ end }}
    </ul>
    {{ if gt $count 5 }}
    <p>Or check out <a href="/music/songs">all songs</a>.</p>
    {{ end }}

    <h2>Latest demos</h2>
    <ul class="secondary">
        {{ $count := 0 }}
        {{ range (where .Site.RegularPages "Section" "music") }}
        {{ if ne $count 5 }}
        {{ if eq .CurrentSection.Title "Demos" }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            &mdash; <time>{{ .Date.Format "January 02" }}</time>
        </li>
        {{ $count = add $count 1 }}
        {{ end }}
        {{ end }}
        {{ end }}
    </ul>
    {{ if gt $count 5 }}
    <p>Or check out <a href="/music/demos">all demos</a>.</p>
    {{ end }}

    {{- else }}

    <div class="list">
        {{ $2022 := where .Pages "Date.Year" 2022 }}
        {{ if ne (len $2022) 0 }}
        <h2>2022</h2>
        <ul class="secondary">
            {{ range $2022 }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                &mdash; <time>{{ .Date.Format "January 02" }}</time>
            </li>
            {{ end }}
        </ul>
        {{ end }}

        {{ $2018 := where .Pages "Date.Year" 2018 }}
        {{ if ne (len $2018) 0 }}
        <h2>2018</h2>
        <ul class="secondary">
            {{ range $2018 }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                &mdash; <time>{{ .Date.Format "January 02" }}</time>
            </li>
            {{ end }}
        </ul>
        {{ end }}

        {{ $2016 := where .Pages "Date.Year" 2016 }}
        {{ if ne (len $2016) 0 }}
        <h2>2016</h2>
        <ul class="secondary">
            {{ range $2016 }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                &mdash; <time>{{ .Date.Format "January 02" }}</time>
            </li>
            {{ end }}
        </ul>
        {{ end }}

        {{ $2015 := where .Pages "Date.Year" 2015 }}
        {{ if ne (len $2015) 0 }}
        <h2>2015</h2>
        <ul class="secondary">
            {{ range $2015 }}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                &mdash; <time>{{ .Date.Format "January 02" }}</time>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>

    {{ end }}
{{ end }}
