{{ define "main" }}
    {{ if eq .Date .Lastmod }}
    <p class="secondary">Posted on {{ .Date.Format "January 02, 2006" }}</p>
    {{ else }}
    <p class="secondary">Last modified on {{ .Lastmod.Format "January 02, 2006" }}</p>
    {{ end }}
    <h1>{{ .Title }}</h1>
    {{ .Content }}
    <audio controls>
        <source src="{{ .Params.audio }}">
    </audio>
    <figure>
        <img src="{{ .Params.cover }}" alt="{{ .Title }}">
        <figcaption>Cover art of {{ .Title }}</figcaption>
    </figure>
    <p>
        You can also listen to my music on
        <a href="https://soundcloud.com/colorglitch">SoundCloud</a> or
        <a href="https://open.spotify.com/artist/5oDM0IPMPlaAwZFj8SsCAQ?si=aJ8GvGDKQLik75U5olt2cQ">Spotify</a>.
        Or pay what you want on <a href="https://colorglitch.bandcamp.com/">Bandcamp</a> to support me.
    </p>
    <p>
        Lastly, if you'd like the <strong>higher quality</strong> file (.flac or .wav) of the song,
        sent me an <a href="mailto:stan@hoenson.xyz">email</a>.
    </p>
{{ end }}
